/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
h1{
  font-family: riant-display;
  font-size: 5em;
  color: rgb(149, 86, 97);
  letter-spacing: 0.1em;
  margin-left: 80px;}

  h2{
  font-family: legitima;
  font-weight: 400;
  font-size: 2em;
  color: rgb(149, 86, 97);
  letter-spacing: 2%;
  margin-left: 80px;}

  p{
  font-family: comma-sans;
  font-size: 1em;
  color: rgb(149, 86, 97);
  letter-spacing: 0.1em;
  margin-left: 80px;
  background-color: pink;
  padding: 20px;

}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* font via Adbobe Fonts */
/*
Legitima
font-family: "legitima", serif;
font-weight: 500;
font-style: normal;

font-family: "legitima", serif;
font-weight: 500;
font-style: italic;
  
Riant Display
font-family: "riant-display", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "riant-display", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "riant-display-inline", sans-serif;
font-weight: 400;
font-style: normal;}

Comma Sans
font-family: "comma-sans", sans-serif;
font-weight: 300;
font-style: normal;

font-family: "comma-sans", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "comma-sans", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "comma-sans", sans-serif;
font-weight: 900;
font-style: normal;
*/
/* Wat nu */
